-i https://pypi.org/simple
argpass==0.0.2
certifi==2023.5.7 ; python_version >= '3.6'
charset-normalizer==3.1.0 ; python_full_version >= '3.7.0'
configparser==5.3.0
idna==3.4 ; python_version >= '3.5'
requests==2.31.0
urllib3==2.0.3 ; python_version >= '3.7'
xmltodict==0.13.0
